{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>About</h2>
		</div>
	</section>


	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 about-text">
					{% for aboutas in about %}
					<h2>{{aboutas.about_caption}}</h2>
					<p>{{aboutas.about_content}}</p>

				</div>
				<div class="col-lg-6">
					<img src="{{aboutas.about_image.url}}" alt="">
						{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->


	<!-- Facts section -->
	<section class="facts-section">
		<div class="facts-warp">
			<div class="container">

				<div class="row">	{% for details in aboutas %}
						<div class="col-lg-3 col-sm-6 fact-item">
						<div class="fact-icon">
							<img src="{{details.about_icons.url}}" alt="">
						</div>
						<h2>{{details.about_number}}</h2>
						<p>{{details.about_iconitem}}</p>

						</div>
							{% endfor %}
				</div>

				</div>

		</div>
	</section>
	<!-- Facts section end -->


	<!-- Newsletter section -->
	<section class="newsletter-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 nl-text">
					<h2>Subscribe to our newsletter</h2>
					<form class="newsletter-form" id="newsletterform" method="post">
						{% csrf_token %}
						{{newsletter.as_p}}
<!--						<input type="text" placeholder="Your E-mail">-->
						<span id="alert"></span>
						<button class="site-btn" id="btn_newsletter">Subscribe</button>
					</form>
					{% for aboutas in about %}
					<p> {{aboutas.about_text}}</p>
					{% endfor %}
				</div>
				<div class="col-lg-6">
					<img class="nl-sp-img" src="img/newslatter.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


{% endblock%}
