{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}



  <div class="container">
                <!-- Trigger the modal with a button -->
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        {% load socialaccount %}
                        <div class="modal-content">
                            <div class="modal-header"><h4>Login</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">

                                <form method="post" id="loginform">
									{% csrf_token %}
										{{log.as_p}}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                    	<a href="{% provider_login_url 'facebook'  %}">
											<button type="button" class="btn btn-primary"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button></a>
                                   <a id="google_login" href="/accounts/google/login">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-google fa-fw"></i> Login with Google</button></a>
                                      <button type="submit" class="btn btn-success" name="btn_login" value="login" id="btn_login"><i class="fa fa-sign-in"></i> Login</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Contact</h2>
		</div>
	</section>
	<!-- Hero section end -->


	<section class="contact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="contact-form-warp">
						<h4>Leave a comment</h4>
						<form class="contact-form" id="contactform" >
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name" name="txt_name">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="E-mail" name="txt_email">
								</div>
								<div class="col-md-12">
									<input type="text" placeholder="Subject" name="txt_subject">
									<textarea placeholder="Message" name="txt_message"></textarea><h3 id ="alert"></h3>	<h3 id ="error"></h3>
									<button class="site-btn" id="btn_send">Send</button>

								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-logo">
						<a href="/"	><img src="{% static 'img/logo.png' %}" alt=""></a>
					</div>
					<div class="contact-info">
						<ul class="ct-list">
							<li>
								<h6>Address:</h6>
								<p>481 Creekside Lane Avila</p>
								<p>Beach, CA 93424</p>
							</li>
							<li>
								<h6>Phone:</h6>
								<p>+53 345 7953 32453</p>
								<p>+53 345 7557 822112</p>
							</li>
							<li>
								<h6>Email:</h6>
								<p>yourmail@gmail.com</p>
							</li>
						</ul>
						<div class="contact-social">
							{% for icon in socialicon %}
							<a href="{{icon.social_url}}"  target="_blank" ><i class="{{icon.icon_name}}"></i></a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- map -->
			<div class="location-map" id="map-canvas"></div>
		</div>
	</section>


{% endblock%}
	<!-- Gallery section end -->


<!--	&lt;!&ndash; Footer section  &ndash;&gt;-->
<!--	<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">-->
<!--		<div class="container-fluid">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6">-->
<!--					<div class="footer-logo">-->
<!--						<img src="img/logo.png" alt="">-->
<!--					</div>-->
<!--					<div class="footer-social">-->
<!--						<a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--						<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--						<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--						<a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--						<a href="#"><i class="fa fa-behance"></i></a>-->
<!--						<a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-6 text-lg-right">-->
<!--					<ul class="footer-menu">-->
<!--						<li><a href="#">Home</a></li>-->
<!--						<li><a href="#">Features</a></li>-->
<!--						<li><a href="#">Receipies</a></li>-->
<!--						<li><a href="#">Reviews</a></li>-->
<!--						<li><a href="#">Contact</a></li>-->
<!--					</ul>-->
<!--					<p class="copyright">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</footer>-->
<!--	&lt;!&ndash; Footer section end &ndash;&gt;-->



<!--	&lt;!&ndash;====== Javascripts & Jquery ======&ndash;&gt;-->
<!--	<script src="js/jquery-3.2.1.min.js"></script>-->
<!--	<script src="js/owl.carousel.min.js"></script>-->
<!--	<script src="js/main.js"></script>-->


<!--	&lt;!&ndash; load for map &ndash;&gt;-->
<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc"></script>-->
<!--	<script src="js/map.js"></script>-->
<!--	-->
<!--</body>-->
</html>