{% extends "base.html" %}
{% load static %}
{% block content %}

	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Recipe</h2>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Search section -->
	<div class="search-form-section">
		<div class="sf-warp">
			<div class="container">
				<form class="big-search-form" method="post" action="{% url 'recipe' %}">
					{% csrf_token %}
					<select name="sel_category" >
						<option value="">Category</option>
						{% for i in cat %}

						<option value="{{ i.category_name}}">{{ i.category_name}}</option>
						{% endfor %}
					</select>

					<select name="sel_type">
						<option value="">Type</option>
						{% for k in type %}
						<option value="{{k.type_name}}">{{k.type_name}}</option>
						{% endfor %}
					</select>
					<input type="text" placeholder="Search Recipies" name="txt_recipename">
					<button class="bsf-btn">Search</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Search section end -->


	<!-- Recipes section -->
	<section class="recipes-page spad">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
<!--					<div class="section-title">-->
<!--						<h2>Latest recipes</h2>-->
<!--					</div>-->
				</div>
				<div class="col-md-4">
					<div class="recipe-view">
						<i class="fa fa-bars"></i>
						<i class="fa fa-th active"></i>
					</div>
				</div>
			</div>
			<div class="row">
					{% for recipe in recipe %}
				<div class="col-lg-4 col-md-6">
					<div class="recipe">
<!--				<a href="{% url 'recipe_single' recipe.pk %}">	<h2>{{recipe.recipe}}</h2></a>-->
						<a href="{% url 'recipe_single' recipe.pk %}">	<img src="{{recipe.img.url}}" alt=""></a>

						<div class="recipe-info-warp">
							<div class="recipe-info">
								<a href="{% url 'recipe_single' recipe.pk %}">	<h3>{{recipe.recipe}}</h3></a>
	<!--								<div class="rating">-->
	<!--									<i class="fa fa-star"></i>-->
	<!--									<i class="fa fa-star"></i>-->
	<!--									<i class="fa fa-star"></i>-->
	<!--									<i class="fa fa-star"></i>-->
	<!--									<i class="fa fa-star is-fade"></i>-->
	<!--								</div>-->
							</div>
						</div>
					</div>
				</div>
					 {% endfor %}
			</div>

			<div class="site-pagination">

				{% if recipe.has_other_pages %}
  				<ul class="pagination">
   				{% if recipe.has_previous %}
     			 <li><a href="?page={{ recipe.previous_page_number }}">&laquo;</a></li>
    			{% else %}
     			 <li class="disabled"><span>&laquo;</span></li>
  				{% endif %}
  				{% for i in recipe.paginator.page_range %}
      				{% if recipe.number == i %}
       					 <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      				{% else %}
     					 <li><a href="?page={{ i }}">{{ i }}</a></li>
    				{% endif %}
    			{% endfor %}
   	 			{% if recipe.has_next %}
     				 <li><a href="?page={{ recipe.next_page_number }}">&raquo;</a></li>
  				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
    			{% endif %}
 				</ul>
				{% endif %}

			</div>
		</div>
	</section>
	<!-- Recipes section end -->



	{% endblock%}
	<!-- Gallery section end -->


<!--	&lt;!&ndash; Footer section  &ndash;&gt;-->
<!--	<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">-->
<!--		<div class="container-fluid">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6">-->
<!--					<div class="footer-logo">-->
<!--						<img src="img/logo.png" alt="">-->
<!--					</div>-->
<!--					<div class="footer-social">-->
<!--						<a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--						<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--						<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--						<a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--						<a href="#"><i class="fa fa-behance"></i></a>-->
<!--						<a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-6 text-lg-right">-->
<!--					<ul class="footer-menu">-->
<!--						<li><a href="#">Home</a></li>-->
<!--						<li><a href="#">Features</a></li>-->
<!--						<li><a href="#">Receipies</a></li>-->
<!--						<li><a href="#">Reviews</a></li>-->
<!--						<li><a href="#">Contact</a></li>-->
<!--					</ul>-->
<!--					<p class="copyright">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--</p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</footer>-->
<!--	&lt;!&ndash; Footer section end &ndash;&gt;-->



<!--	&lt;!&ndash;====== Javascripts & Jquery ======&ndash;&gt;-->
<!--	<script src="../static/js/jquery-3.2.1.min.js"></script>-->
<!--	<script src="../static/js/owl.carousel.min.js"></script>-->
<!--	<script src="../static/js/main.js"></script>-->
<!--</body>-->
</html>