{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Recipe</h2>
		</div>
	</section>

	<!-- Search section -->
	<div class="search-form-section">
		<div class="sf-warp">
			<div class="container">
				<form class="big-search-form" method="post" action="{% url 'recipe' %}">
					{% csrf_token %}
					<select name="sel_category" >
						<option value="">Category</option>
						{% for i in category %}

						<option value="{{ i.category_name}}">{{ i.category_name}}</option>
						{% endfor %}
					</select>

					<select name="sel_type">
						<option value="">Type</option>
						{% for k in type %}
						<option value="{{k.type_name}}">{{k.type_name}}</option>
						{% endfor %}
					</select>
					<input type="text" placeholder="Search Recipies" name="txt_recipename">
					<button class="bsf-btn">Search</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Search section end -->








	<!-- Recipe big view -->
	<div class="recipe-view-section">
	<!--	<h2>{{single_recipe.recipe}}</h2>-->

		<div class="rv-warp set-bg" data-setbg="{{single_recipe.img.url}}"></div>
	</div>
<!--
	<!-- Recipe details section -->
	<section class="recipe-details-section">
		<div class="container">
			<div class="recipe-meta">
				<div class="racipe-cata">
					<span>For Begginers</span>
				</div>
				<h2>{{single_recipe.recipe}}</h2>

				<div class="recipe-date">{{single_recipe.date}}</div>





	<!--				<div class="rating">-->
	<!--					<i class="fa fa-star"></i>-->
	<!--					<i class="fa fa-star"></i>-->
	<!--					<i class="fa fa-star"></i>-->
	<!--					<i class="fa fa-star"></i>-->
	<!--					<i class="fa fa-star is-fade"></i>-->
	<!--				</div>-->
			</div>
			<div class="row">
				<div class="col-lg-5">
					<div class="recipe-filter-warp">
						<div class="filter-top">
							<div class="filter-top-text">
								<p>Prep : {{single_recipe.prep}}</p>
								<p>Cook : {{single_recipe.cook}}</p>
								<p>Yields : {{single_recipe.yields}}</p>
							</div>
						</div>
						<!-- recipe filter form -->
						<div class="filter-form-warp">
							<h2>Ingredients</h2>
							{% for item_ingredients in single_recipe.ingredients.all %}

							<form class="filter-form">
								<div class="check-warp">
								<ul>
									<li>
									{{item_ingredients.ingredients}}
									</li>
								</ul>
								</div>
							</form>

							{% endfor %}

						</div>
					</div>
				</div>
				<div class="col-lg-7">

					<ul class="recipe-info-list">

						<li>

							<p>{{single_recipe.steps| safe}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>



<div class="container">


	<br> <section class="comments">
	<h4>Comments</h4><br>
	{% if count > 0 %}
	<h6>{{count}} Comment(s)</h6><br>

	 {% for comment in comments %}
    <article class="comment">


      </a>

      <div class="comment-body">

        <div class="text">
          <p>{{comment.message}}</p>
        </div>

        <p class="attribution">by <a href="#non">{{comment.name}}</a> </p>
      </div>

    </article>
	 {% endfor %}

	{% else %}
	<div ><h2> No comments</h2>
		{% endif %}
  </section>

</div>

</div>


	<!-- Comment section -->

{% if request.user.is_authenticated %}
	<section class="comment-section spad pt-0">
		<div class="container"><br>
			<h4>Leave a comment</h4>
			<form class="comment-form"  id="commentform" method="post">
				{% csrf_token %}



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="txt_rate" class="rating-value" value="">
      </div>
    </div>
  </div>

	<style>
  .star-rating {
  line-height:32px;
  font-size:2.25em;

}
.star-rating .fa-star{color: yellow;}
</style>
<br><br>
				<div class="row">
<!--					<div class="col-md-6">-->
<!--						<input type="text" placeholder="Name" name="txt_name">-->
<!--					</div>-->
<!--					<div class="col-md-6">-->
<!--						<input type="text" placeholder="E-mail" name="txt_email" >-->
<!--					</div>-->
					<div class="col-md-12">
						<input type="text" placeholder="Subject" name="txt_subject" id="txt_subject">

						<textarea placeholder="Message" name="txt_message" id="txt_message"></textarea>
	<h3 id="alert"></h3><h3 id="error"></h3>
						<button type="submit" class="site-btn" id="btn_submit">Send</button>
						<input type="hidden" name="txt_recipe" value="{{single_recipe.id}}">
						<br>

					</div>
				</div>
			</form>
		</div>
	</section>

{% endif %}

	<!-- Comment section -->


{% endblock%}



